

///////////////////////
// bootstrap class
///////////////////////
.alert-info {
    background-color: #E1F5FE;
}
.alert-warning {
    background-color: #FFF9C4;
}
.control-label.disabled {
    color: #757575;
    font-weight: normal;
}

///////////////////////
// gross HTML
///////////////////////
body {
    //max-width: 960px;
    //margin: auto;
    background: White;
    font-size: 12pt;
}
h1 {
    font-weight: 600;
}
h2, h3, h4 {
    font-family: "Matterhorn Serif";
}
p {
    text-align: justify;
    line-height: 16pt;
    color: black;
}
//svg {box-shadow:0 0 0 2px;}
td {
    line-height: 0;
}
th {
    font-weight: normal;
    text-align: center;
}
.bg {
    //background: url('data:image/svg+xml;utf8,<svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg"><circle id="greencircle" cx="30" cy="30" r="30" fill="green" /></svg>') no-repeat;
    background: url('data:image/svg+xml;utf8,
    <svg width="144px" height="166.28px" viewBox="0 0 288 332.56" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <polygon style="fill:%23ECEFF1;stroke:%23FFFFFF;stroke-width:0px" points="144,166.28 48,166.28 0,83.14 48,0 144,0 192,83.14 144,166.28" />
        <svg x="0px" y="166.28px">
            <polygon style="fill:%23FAFAFA" points="144,166.28 48,166.28 0,83.14 48,0 144,0 192,83.14 144,166.28" />
        </svg>
    </svg>
    ') 0 0 repeat, url('data:image/svg+xml;utf8,
    <svg width="144px" height="166.28px" viewBox="0 0 288 332.56" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <polygon style="fill:%23FFFFFF" points="144,166.28 48,166.28 0,83.14 48,0 144,0 192,83.14 144,166.28"  />
        <svg x="0px" y="166.28px">
            <polygon style="fill:%23F5F5F5" points="144,166.28 48,166.28 0,83.14 48,0 144,0 192,83.14 144,166.28" />
        </svg>
    </svg>
    ') 72px 41.57px repeat; // the %23 is code for #.  Firefox will fail on svg rendering if color codes are in URIs. 
    min-height: 100%;
    background-color:White;
    opacity:0.85;
}
hr {
    border-width: 4px;
    color: "LightGrey";
}
strong {
    font-weight: 600;
}
strong strong {
    font-weight: 700;
}
label {display: block;}

//////////////////////// ////////////////////////
// experiment specific elements
//////////////////////// ////////////////////////
.expMTWindow {
    padding: 0px 50px 50px 50px;
    font-family: "Matterhorn";
    color: #424242;
}
.expMainWindow {
    background-color: White;
    margin-top: 25px;
    padding-top: 15px;
}
.expWindow {
    //border: 1px solid black;
    margin-top: 25px;
}
.expMainPanel {
    //border: 1px solid DarkGrey;
    //box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), 6px 6px 20px -6px rgba(0, 0, 0, 0.19);
    //border-left: 2px solid LightGrey;
    //border-right: 2px solid LightGrey;
}
.expMainPanel p {
    max-width: 560px; // http://baymard.com/blog/line-length-readability
}
.expPane {
    //display: float;
    color: black;
}
.expPaneMargin {
    max-width: 560px; 
    margin-left: 100px;
}
.expPaneNoMargin {
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.expWindow.expTabs {
    background: url('data:image/svg+xml;utf8,
    <svg width="144px" height="166.28px" viewBox="0 0 288 332.56" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice">
    <polygon style="fill:white;stroke:%2380D8FF;stroke-width:15px" points="144,166.28 48,166.28 0,83.14 48,0 144,0 192,83.14 144,166.28" transform="rotate(90) translate(15 -130) scale(0.7)" />
    </svg>
    ') 0px 0px no-repeat; // the %23 is code for #.  Firefox will fail on svg rendering if color codes are in URIs.
    background-color: White;
    background-position: left top;
}
.experiment {
    background-color: hsla(199, 94%, 94%, 0.50);//#E1F5FE;//hsl(0, 0, 95);
    //width: 730px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  // https://codepen.io/sdthornton/pen/wBZdXq
}
.expHeader h1 {
    //text-transform: uppercase;
    font-variant: small-caps;
    font-size: 30pt;
    color: #212121;
    padding-left: 20px;
    padding-left: 0px;
    margin-top: 0px;
    //border: 1px solid DarkGrey;
    //box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), 6px 6px 20px -6px rgba(0, 0, 0, 0.19);
}
.expHeader h2 {
    margin: 0;
}


//// EXPERIMENT INFO
.expInfoPanel {
    background-color: White;
    margin-top: 30px;
    //border: 1px solid DarkGrey;
    //box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), 6px 6px 20px -6px rgba(0, 0, 0, 0.19);
}
.expInfoPanel h3{
    //padding-top: 30px;
    padding-left: 12px;
    text-align: left;
    font-size: 95%;
    font-weight: 600;
}
.expInfoTable {
    font-size: 75%;
    text-align: left;
}
.expInfoTable li {
    background-color: hsl(199, 10%, 95%); //#E1F5FE;//hsl(0, 0, 95);
    border: 0;
    margin: 5px;
    padding: 5px 7px;
}

.expQuestion {
    text-align: center;
}
.expQuestionText {
    text-align: left;
    padding: 0px 15px;
    max-width: 560px; 
}
.expQuestionText .questionTitle {
    padding: 10px 0px;
    font-weight: 600;
}
.expQuestionText label {
    font-size: 14pt;
    padding: 5px 15px;
}
.expQuestionText p {
    padding: 0px 15px;
}
.expQuestionText .expChoices {
    padding: 10px 15px 15px 15px;
}
.expQuestion .expChoices {
    text-align: left;
    font-size: 14pt;
    padding: 0px 15px 15px 30px;
}


//// EXPERIMENT
h2.sectionHeader {
    font-family: "Matterhorn Serif";
    font-weight: 600;
    color: #212121;
    margin: 0;
    font-size: 30pt;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 40px;
    // from expPaneMargin
    max-width: 560px; 
    margin-left: 100px;
}

.warning {
    border: 1px solid red;
}
.experimenter-view {
    border: 3px solid black;
}
.experimenter-view table td, .experimenter-view table th {
    /*border: 1px solid black;*/
    padding: 3px;
}
.dropdown__menu {
    background-color: white;
    border: 1px solid black;
}
.dropdown__menu[disabled] {
    color : #757575;
} 


/////////////////////
// buttons
/////////////////////
button {
    padding: 0;
    margin: 0;
    border: 0;
}
.btn, .btn:focus, .btn:hover, .btn:focus:hover {
    border-radius: 50px;
    min-width: 70px;
    padding: 15px 15px 15px 15px;
    margin: 15px 20px 15px 20px;
    border: 0;
    background-color: #4FC3F7;//hsl(0, 0, 50);
    outline: 0 none;
}
.btn[checked], .btn[checked]:focus, .btn[checked]:hover, .btn[checked]:focus:hover {
    background-color: #0277BD; //light blue 800
    background-color: #01579B; //light blue 900
    opacity: 1.00;  // on clicking a button, you don't see hover dimming, 
                    //    but on unclicking a button, you do 
                    //    (no opacity:1 for .btn:focus:hover above)
}
.btn:hover, .btn[checked]:hover {
    opacity: 0.85;
}
.btn.disabled, .btn.disabled:hover, .btn.disabled:focus {
    pointer-events : none; //http://stackoverflow.com/questions/7833854/jquery-detect-click-on-disabled-submit-button;
    opacity: 0.40;
}
.generalNavButton, .generalNavButton:hover, .generalNavButton:focus, .generalNavButton:hover:focus {
    font-size: 120%;
    font-weight: bold;
    color: #1A237E;//Black;
    color: Black;
    //box-shadow:0 0 0 3px;
    text-transform: uppercase;
    margin: 15px;
    padding: 15px;
}
.generalNavButton:hover {
    background-color: #03A9F4; //lightblue500//hsl(0, 0, 60);
    opacity: 1.00;
}
.generalNavButton.disabled, .generalNavButton.disabled:focus, .generalNavButton.disabled:hover {
    color: White;
    background-color: #40C4FF;
}
.proceedButton, .proceedButton:hover, .proceedButton:focus {
}


////// NAV AND TAB CSS
// attributes of other navigable tabs in all mouse states
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    border: 0;
    border-radius: 3px;
    background-color: hsl(0, 0, 100);
    color: hsl(0, 0, 10);
    padding: 3px 5px;
}
// attributes of the active tab in all mouse states
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0;
    //border-radius: 50;
    background-color: hsl(199, 94%, 94%); //#E1F5FE;//hsl(0, 0, 95);
    color: hsl(0, 0, 10);
}
.nav-tabs > li > a:hover {
    background-color: hsl(0, 0, 97);
}
// attributes of disabled tabs in all mouse states
.nav > li.disabled > a, .nav > li.disabled > a:hover, .nav > li.disabled > a:focus, .nav > li.disabled > a:focus:hover {
    border-color: transparent;
    color: hsl(0, 0, 85);
    background-color: hsl(0, 0, 100);
}
.expTabs {
    font-family: "Matterhorn Serif";
    text-align: left;
    background-color: White;
    //border: 1px solid DarkGrey;
    //padding-right: 50px;
    padding: 25px;
    text-align: left;
    //box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.2), 6px 6px 20px -6px rgba(0, 0, 0, 0.19);
}
.expSubTabs {
    text-align: left;
    background-color: transparent;
    pointer-events : none; /* from http://stackoverflow.com/questions/5069110/remove-hover-css-behavior-from-element */
    font-size: 90%;
    padding-left: 30px;
    line-height: 1.1;
    transform: scaleX(0.95);
}
.expSubTabs a.expSubTab {
    padding: 5px 0px 0px 0px;
}
.expSubTab.text-primary {
    color: hsl(0, 0, 10);
}
.expSubTab.text-info {
    color: hsl(0, 0, 75);
}
.expSubTab.text-muted {
    color: hsl(0, 0, 75);
}


