@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@font-face {
    font-family: "Matterhorn";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Matterhorn-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Matterhorn-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/Matterhorn-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/Matterhorn-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-style: oblique;
    font-weight: 400;
    src: url("/fonts/Matterhorn-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/Matterhorn-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-weight: 700;
    font-style: oblique;
    src: url("/fonts/Matterhorn-BoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-weight: 600;
    font-style: italic;
    src: url("/fonts/Matterhorn-SemiBoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn";
    font-weight: 600;
    font-style: oblique;
    src: url("/fonts/Matterhorn-SemiBoldItalic.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn Serif";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/MatterhornSerif-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn Serif";
    font-weight: 600;
    font-style: normal;
    src: url("/fonts/MatterhornSerif-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Matterhorn Serif";
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/MatterhornSerif-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inconsolata.otf") format("opentype");
}

body {
    //width: 80%;
    //max-width: 960px;
    padding: 50px 50px 50px 50px;
    background: LightGrey;
    margin: auto;
}
.expWindow {
    font-family: "Matterhorn";
}
h1 {
    font-weight: 600;
}
h2, h3, h4 {
    font-family: "Matterhorn Serif";
}
.bg {
    float: right;
    background: url('data:image/svg+xml;utf8,<svg id="circle" height="200" xmlns="http://www.w3.org/2000/svg"><circle id="greencircle" cx="30" cy="30" r="30" fill="green" /></svg>') no-repeat;
}
.expMainPanel {
    background-color: White;
    border: 1px solid DarkGrey;
}
.expPane {
    text-align: center;
}
.expTabs {
    text-align: left;
    background-color: White;
    border: 1px solid DarkGrey;
    text-align: left;
}
.expSubTabs {
    text-align: right;
    background-color: LightGrey;
    pointer-events : none; /* from http://stackoverflow.com/questions/5069110/remove-hover-css-behavior-from-element */
}
.expHeader {
    background-color: White;
    border: 1px solid DarkGrey;
}
.expInfoPanel {
    background-color: White;
    border: 1px solid DarkGrey;
    text-align: right;
}
.expInfoBox {
    font-size: 75%;
}

.btn[checked], .btn[checked]:focus, .btn[checked]:hover, .btn[checked]:focus:hover {
    background-color: Red;
}
/*
This does nothing?
.checked:active {
    background-color: DarkRed;
}*/
.warning {
    border: 1px solid red;
}
.experimenter-view {
    border: 3px solid black;
}
.experimenter-view table td, .experimenter-view table th {
    /*border: 1px solid black;*/
    padding: 3px;
}
.dropdown__menu {
    background-color: white;
    border: 1px solid black;
}

.navButton {
    min-width: 50px;
}
