@import "../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
    width: 80%;
    max-width: 960px;
    margin: auto;
}
.exp-info {
    width: 95%;
}

.checked, .checked:focus, .checked:hover, .checked:focus:hover {
    background-color: Red;
}
/*
This does nothing?
.checked:active {
    background-color: DarkRed;
}*/
.warning {
    border: 1px solid red;
}
.experimenter-view {
    border: 3px solid black;
}
.experimenter-view table td, .experimenter-view table th {
    /*border: 1px solid black;*/
    padding: 3px;
}
.dropdown__menu {
    background-color: white;
    border: 1px solid black;
}
