.you {
    font-weight: 600;
    color: hsla(199, 98%, 38%, 1.0);
}
.other {
    font-weight: 600;
    color:hsla(199, 5%, 60%, 1.0);
}
.blue {
    color: hsla(199, 98%, 38%, 1.0);
}
.grey, .gray {
    color: hsla(199, 5%, 34%, 1.0);
}
.earnings {
    font-weight: 700;
}
///////////////////////////////////
// GAME design
///////////////////////////////////
.gameNormalForm {
    padding: 0px 10px;
    //background-color: White;
    background-color: hsla(199, 100%, 100%, 0.10); 
}
.expQuestion.chooseStrategy .gameNormalForm,
.gameNormalForm#tutorial {
    width: 715px;
}
.expQuestion.chooseStrategyTop .gameNormalForm,
.expQuestion.chooseGame .gameNormalForm ,
.expQuestion.chooseOutcome .gameNormalForm {
    max-width: 560px;
    text-align: center;
}
.gameNormalFormGame {
    //border: 7px solid hsl(202, 98%, 57%); bright blue
    //background-color: hsla(199, 98%, 60%, 0.20); //light blue 800
    border: 7px solid hsl(202, 98%, 0%);
    border-radius: 7px;
    //margin-right: 5px;
    margin: 5px;
}
.gameVisualText {
    display: inline;
    cursor: not-allowed;
    text-align:left;
    font-family: "Matterhorn";
    font-size: 15pt;
    color: #616161;
}
.gameVisualText .other {
    color:hsla(199, 5%, 34%, 1.0);
}
.gameVisualText.big {
    font-size: 22pt;
}
.gameNormalFormGame th{
    //padding: 10px 5px;
    padding: 0px 5px;
    font-family: "Matterhorn Serif";
    font-size: 20pt;
    font-weight: 600;
    color: #424242;
}
.gameNormalFormGame td{
    background-color: transparent;
}
.gameNormalFormGame .gameTableRow th {
    color: hsla(199, 98%, 38%, 1.0);
}
tr.gameNormalFormChoice {
    //border-top: 7px solid hsl(202, 98%, 57%);
    border-top: 7px solid hsl(202, 98%, 0%);
}
.gameNormalFormOutcome {
    background-color: transparent;
    border: 5px #80D8FF;
    margin: 0;
    //padding: 10px;
    padding: 0px;
    outline: 0 none;
    position: relative; // this is for the positioning of the below welements to work
}
.gameNormalFormPayoff {
    //background-color: LightBlue; //LightBlue
    background-color: transparent;
    padding: 20px;
    margin: 20px;
}
.gameNormalFormPayoff.gamePlayerTop {
    position: absolute;
    top: 0;
    right: 0;
}
.gameNormalFormPayoff.gamePlayerSide {
    position: absolute;
    bottom: 0;
    left: 0;
}
//http://stackoverflow.com/questions/41079839/hovering-over-transparent-svgs/41079948?noredirect=1#comment69376426_41079948--
.gameNormalFormPayoff text {
    //font-family: "Matterhorn Serif";
    //font-family: "Verdana"; 
    font-size: 36pt;
    line-height: 1;
}
.gameNormalFormPayoff.gamePlayerOther polygon {
    fill: hsl(199, 5%, 84%);//#BDBDBD;//hsla(60, 100%, 83%, 0.50); //lightyellow
    fill-opacity: 0.5;
}
.gameNormalFormPayoff.gamePlayerYou polygon {
    fill: hsl(199, 98%, 38%);//hsla(60, 100%, 83%, 0.50); //lightyellow
    fill-opacity: 0.5;
}
.gameNormalFormPayoff.gamePlayerOther text {
    //fill: hsl(199, 99%, 65%);// #03A9F4;//hsla(60, 100%, 83%, 0.50); //lightyellow
    fill: hsl(199, 5%, 55%);//#BDBDBD;//hsla(60, 100%, 83%, 0.50); //lightyellow
    fill-opacity: 0.9;
    font-size: 24pt;
}
.gameNormalFormPayoff.gamePlayerYou text {
    fill: hsl(199, 5%, 95%);//#BDBDBD;//hsla(60, 100%, 83%, 0.50); //lightyellow
    fill-opacity: 0.9;
}

//.gameNormalFormGame tr.gameTableRow:hover g.gameNormalFormPayoff:hover polygon {  //payofflevel hightling, rather than outcome level
    //fill: hsla(60, 100%, 83%, 0.80); //lightyellow
    //fill-opacity: 1;
//}
tr.hover {
    background-color: hsla(199, 98%, 0%, 0.07); //lightblue500//hsl(0, 0, 60);
}

/// outcome selection
.expChoice {
    cursor: pointer;
}
.chooseOutcome .gameNormalFormOutcome.active, .gameNormalFormOutcome.hover.active{
    background-color: #0277BD; 
}
.chooseOutcome colgroup.hover, .chooseStrategyTop colgroup.hover {
    background-color: hsla(199, 98%, 0%, 0.07); //lightblue500//hsl(0, 0, 60);
}
.chooseStrategy tr.gameNormalFormChoice.active {
    background-color: #0277BD; 
}
.chooseStrategy tr.gameNormalFormChoice.active th {
    color: #FFF;
}

.gameNormalFormPayoff text {
    // 'deactivation' animation
    transition: font-size 40ms linear; 
}
.chooseStrategy .expChoice.active .gameNormalFormPayoff.gamePlayerSide text,
.chooseStrategy .expChoice.hover .gameNormalFormPayoff.gamePlayerSide text {
    font-size: 44pt;
    // https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves
    transition: font-size 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
//.chooseStrategyTop colgroup.active ~ thead th {
.chooseStrategyTop colgroup.active {
    background-color: #0277BD; 
    background-color: #757575; 
}
.chooseStrategyTop .colactive {
    color: #212121;
}
.chooseStrategyTop .colactive .gameNormalFormPayoff.gamePlayerTop text ,
.chooseStrategyTop .colhover .gameNormalFormPayoff.gamePlayerTop text {
    font-size: 30pt;
    // https://material.io/guidelines/motion/duration-easing.html#duration-easing-natural-easing-curves
    transition: font-size 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
.chooseStrategyTop .colactive .gameNormalFormPayoff.gamePlayerTop text {
    fill: #212121;
}
@keyframes outcomePulseSide {
    0% {font-size: 36pt;}
    50% {font-size: 44pt;}
    100% {font-size: 36pt;}
}
@keyframes outcomePulseTop {
    0% {font-size: 24pt;}
    50% {font-size: 30pt;}
    100% {font-size: 24pt;}
}
.chooseOutcome .expChoice.active .gameNormalFormPayoff.gamePlayerSide text ,
.chooseOutcome .expChoice:hover .gameNormalFormPayoff.gamePlayerSide text {
    animation: outcomePulseSide 300ms;
    animation-iteration-count: 1;
}
.chooseOutcome .expChoice.active .gameNormalFormPayoff.gamePlayerTop text ,
.chooseOutcome .expChoice:hover .gameNormalFormPayoff.gamePlayerTop text {
    animation: outcomePulseTop 300ms;
    animation-iteration-count: 1;
}

 table.chooseGame.hover {
    background-color: hsla(199, 98%, 0%, 0.07); //lightblue500//hsl(0, 0, 60);
}
 table.chooseGame.active {
    background-color: #0277BD; 
}
.chooseGame.expChoice.active .gameNormalFormPayoff.gamePlayerSide text ,
.chooseGame.expChoice:hover .gameNormalFormPayoff.gamePlayerSide text {
    animation: outcomePulseSide 300ms;
    animation-iteration-count: 1;
}
.chooseGame.expChoice.active .gameNormalFormPayoff.gamePlayerTop text ,
.chooseGame.expChoice:hover .gameNormalFormPayoff.gamePlayerTop text {
    animation: outcomePulseTop 300ms;
    animation-iteration-count: 1;
}
// handling disabling of questions of both types
.gameNormalFormGame.disabled, .gameNormalFormGame.disabled:hover, .gameNormalFormGame.disabled:focus {
    opacity: 0.40;
}
.gameNormalFormGame.disabled, .gameNormalFormGame.disabled:hover, .gameNormalFormGame.disabled:focus,
.gameNormalFormGame.disabled button, .gameNormalFormGame.disabled:hover button, .gameNormalFormGame.disabled:focus button,
.gameNormalFormGame.disabled polygon, .gameNormalFormGame.disabled:hover polygon, .gameNormalFormGame.disabled:focus polygon,
.gameNormalFormGame.disabled tr, .gameNormalFormGame.disabled:hover tr, .gameNormalFormGame.disabled:focus tr {
    pointer-events : none; //http://stackoverflow.com/questions/7833854/jquery-detect-click-on-disabled-submit-button;
}
.gameNormalFormFeedback .gameNormalFormGame.disabled {
    opacity: 0.70;
}

//changing game size, for choice between games
.gameNormalFormGame.chooseOutcome {
    border: 3px solid hsl(202, 98%, 0%);
    border-radius: 3px;
}
.gameNormalFormGame.chooseOutcome tr.gameNormalFormChoice {
    border-top: 3px solid hsl(202, 98%, 0%);
}
.gameNormalFormGame.chooseOutcome th{
    font-size: 14pt;
}
.gameNormalFormGame.chooseOutcome .gameNormalFormOutcome {
    //height: 100px;
    //width: 100px;
}
.gameNormalFormGame.chooseOutcome .gameNormalFormOutcome svg{
    //height: 80px;
    //width: 80px;
}
// game compare 
.gameNormalFormGameCompare {
    margin: 0 auto; // to center the outer table
    border: 0px;
}
.gameNormalFormGameCompare th{
    font-size: 16pt;
    padding-bottom: 0px;
}
.expQuestion .gameNormalForm {
    //width: auto;
    padding: 10px 0px;
}
.expQuestion.chooseGame  .gameNormalForm {
    margin: 0 10px;
}
.gameNormalFormGame.chooseGame {
    border: 4px solid hsl(202, 98%, 0%);
    border-radius: 4px;
}
.gameNormalFormGame.chooseGame tr.gameNormalFormChoice {
    border-top: 4px solid hsl(202, 98%, 0%);
}
.gameNormalFormGame.chooseGame th{
    font-size: 12pt;
}
.gameNormalFormGame.chooseGame .gameNormalFormOutcome {
    //height: 80px;
    //width: 80px;
}
.gameNormalFormGame.chooseGame .gameNormalFormOutcome svg{
    //height: 60px;
    //width: 60px;
}
.gameNormalFormGame.chooseGame tr.gameNormalFormChoice {
    border: 0;
}

//text
.gameVisualText .strategy, .gameVisualText .player, .gameVisualText .payoff, {
    text-transform: capitalize;
    font-weight: 600;
}
.gameVisualText .strategy {
    background-color: White;
    padding: 5px;
}
.gameVisualText .strategy.you {
    font-style: italic;
    font-weight: 700;
}
.gameVisualText .payoff {
    display: inline-block;
    width: 30px;
    padding: 0 3px;
    font-weight: 700;
}
.gameVisualText .payoff.you {
    background: url('data:image/svg+xml;utf8,
    <svg width="30px" height="30px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice">
        <polygon fill="hsla(199, 98%, 38%, 0.4)" pointer-events="all" stroke="%2380D8FF" stroke-width="0px" points="0,0 0,100 100,100 0,0" />
    </svg>
    ') 0px 0px no-repeat;
    background-position: center center;
    background-color: White;
    text-align: left;
    padding-right: 0px;
}
.gameVisualText .payoff.other {
    background: url('data:image/svg+xml;utf8,
    <svg width="30px" height="30px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" version="1.1" preserveAspectRatio="xMidYMid slice">
        <polygon fill="hsla(199, 5%, 84%, 0.5)" pointer-events="all" stroke="%2380D8FF" stroke-width="0px" points="0,0 100,0 100,100 0,0" />
    </svg>
    ') 0px 0px no-repeat;
    background-position: center top;
    background-color: White;
    text-align: right;
    padding-left: 0px;
}
table.gameChoiceFeedback, table.gameChoiceFeedback td, table.gameChoiceFeedback th {
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}
.gameOutcomeFeedback {
    font-size: 120%;
    text-align: center;
    border: 1px solid;
}


///////////////////////
///Instructions
///////////////////////
figure.tutorial {
    float:right;
    width:200px;
    margin:15px;
    padding:5px;
    padding-right:0px;
    margin-right:0px;
}
figure.tutorial svg {
    width:100%; height:100%;
}
figure.tutorial figcaption {
    font-size: 11pt;
    line-height: 11pt;
}

.consent {
    font-family: "Times";
    text-align: center;
    width: 600px;
    border: 3px solid black;
}
.consent h2.sectionHeader {
    text-align: left;
    font-family: "Times";
}
.consent blockquote {
    text-align: justify; 
    border-left: 0;
}
