<template name = "questionBinary">
    <div class = "expQuestion {{questionClass}} form-group {{hasError _id}}" id="{{_id}}">
        <label for="{{_id}}" class = "control-label">{{text}}</label>
        <!--<input id="{{_id}}" name="{{_id}}" class = "sm-width form-control">-->
        {{> binaryForcedChoice id=_id texta="Queue A" textb="Queue B"  }}
    </div>
</template>

<template name = "questionForm">
    <!-- <div class = "{{questionClass}} form-group {{#if incorrect}}has-error{{/if}}" id="{{_id}}"> -->
    <div class = "expQuestion {{questionClass}} form-group" id="{{_id}}">
        <label for="{{_id}}" class = "control-label">{{text}}</label>
        <input id="{{_id}}" name="{{_id}}" class = "sm-width form-control">
    </div>
</template>

<template name="proceedButton">
    <div> 
        <button type=button class="btn btn-success btn-sm" id={{id}} autofocus >Proceed</button>
    </div> 
</template>

<template name="submitButton">
    <button type="submit" class = "btn btn-primary btn-sm" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" autofocus >
        Submit Answers
    </button>
</template>

<template name="navButton">
    <button type="button" class = "btn btn-primary btn-sm navButton" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" value={{targetSection.id}} autofocus >
        {{targetSection.label}}
    </button>
</template>

<template name="binaryForcedChoice" >
    <div>
        <div id={{id}} name={{id}} class="btn-group btn-group-lg expChoices" role="group">
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled id}}" choice="A" >
                {{texta}}
            </button>
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled id}}" choice="B" >
                {{textb}}
            </button>
        </div>
    </div>
</template>

<template name="expGeneralInfoBox">
    <table class="table table-bordered expInfoBox">
        <tr>
            <td>
                Assignment Id: {{subStat.userId}}
            </td>
        </tr>
        <tr>
            <td>
                Meteor Id: {{subStat.meteorUserId}}
            </td>
        </tr>
    </table>
</template>
