<template name = "questionBinary">
    <section class="expPaneNoMargin experiment"> 
    <div class = "expQuestion {{questionClass}} form-group {{hasError _id}}" id="{{_id}}">
        <label for="{{_id}}" class = "control-label">{{text}}</label>
        <!--<input id="{{_id}}" name="{{_id}}" class = "sm-width form-control">-->
        {{> binaryForcedChoice id=_id texta="Queue A" textb="Queue B"  }}
    </div>
    </section> 
</template>

<template name = "questionForm">
    <!-- <div class = "{{questionClass}} form-group {{#if incorrect}}has-error{{/if}}" id="{{_id}}"> -->
    <div class = "expQuestion {{questionClass}} form-group" id="{{_id}}">
        <label for="{{_id}}" class = "control-label">{{text}}</label>
        <input id="{{_id}}" name="{{_id}}" class = "sm-width form-control">
    </div>
</template>

<template name="proceedButton">
    <div> 
        {{#if equals id "instructions"}}
            <button type=button id="{{id}}" class="btn btn-sm generalNavButton proceedButton pull-right" autofocus >Next</button>
        {{else}} {{#if equals id "submitHIT"}}
        {{else}}
            <button type=button id="{{id}}" class="btn btn-sm generalNavButton proceedButton pull-right {{disabled}}" autofocus >Next</button>
        {{/if}}
        {{/if}}
    </div> 
</template>

<template name="submitButton">
    <button type="submit" class="btn btn-primary btn-sm generalNavButton answersForm {{disabled}}" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" autofocus >
        Submit
    </button>
</template>

<template name="navButton">
    <button type="button" class = "btn-link navButton" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" value={{targetSection.id}} autofocus >
        {{targetSection.label}}
    </button>
</template>

<template name="binaryForcedChoice" >
    <div>
        <div id={{id}} name={{id}} class="expChoices" role="group">
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled id}}" choice="A" >
                {{texta}}
            </button>
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled id}}" choice="B" >
                {{textb}}
            </button>
        </div>
    </div>
</template>

<template name="expGeneralInfoBox">
    <div class="expInfoTable">
        <ul class="list-group">
            <li class="list-group-item">
                Assignment Id:<br/>{{subStat.userId}}&nbsp;<!--space is here for robustness to dynamic contents-->
            </li>
            <li class="list-group-item">
                Meteor Id:<br/>{{subStat.meteorUserId}}&nbsp;
            </li>
        </ul>
    </div>
</template>
