<template name = "answersForm">
    <form class="answersForm" id="{{currentSection.id}}" >
		{{#each questions questionsColl}}
                        {{#if equals type "binary"}}
                            {{> questionBinary question=this}}
                        {{else}} 
                            {{#if equals type "quad"}}
                                {{> questionQuad question=this }}
                            {{else}}
                                {{#if equals type "chooseStrategy"}}
                                {{> questionGame question=this}}
                                {{else}} 
                                    {{#if equals type "chooseStrategyTop"}}
                                        {{> questionGame question=this}}
                                    {{else}} 
                                        {{#if equals type "chooseOutcome"}}
                                            {{> questionGame question=this}}
                                        {{else}} 
                                            {{#if equals type "dropdown"}}
                                                {{> questionDropdown question=this }}
                                            {{else}} 
                                                {{#if equals type "text"}}
                                                    {{> questionText question=this }}
                                                {{else}} 
                                                    {{#if equals type "chooseGame"}}
                                                        {{> questionGameCompare question=this }}
                                                    {{else}} 
                                                        {{#if equals type "checkbox"}}
                                                            {{> questionCheckbox question=this }}
                                                        {{/if}}
                                                    {{/if}}
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
		{{/each}}
        {{#if equals currentSection.type "experiment"}}
                    {{#if testQuizIncomplete}}
                    <div class = "alert alert-warning">You did not answer all of the questions.</div>
                    {{/if}}
        {{else}}
        {{#if equals currentSection.id "quiz"}}
            <section class="expPaneMargin">
            {{#if subStat.quiz.passed}}
            <div class = "alert alert-success">
                You have successfully passed the quiz! 
                <br/>
                <em>Remember that the questions you answered about this game will 
                    be useful to consider
                    about the other games that you will play.</em>
                <br/>
                Click <strong>NEXT</strong> to begin the experiment.</div>
            {{else}} {{#if subStat.quiz.failed}}
                <div class = "alert alert-danger">
                    You have exhausted your attempts to pass the quiz and 
                    demonstrate comprehension of the instructions. 
                    Click <strong>NEXT</strong>.
                </div>
            {{else}} {{#if testQuizWrong }}
                <div class = "alert alert-warning">One or more of your answers is incorrect (in red). Attempts remaining: {{quizTriesLeft}}.</div>
            {{/if}}				
            {{/if}}
            {{/if}}
            </section>
        {{/if}}
        {{/if}}
        <br/>
        <section class="expPaneMargin">
        <br/>
        {{> submitButton}}
        </section>
	</form>
</template>
<template name = "questionBinary">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question }}" id="{{question._id}}">
            <div class = "expQuestionText">
            <label for="{{question._id}}" class = "control-label {{disabled question}}">{{question.label}}</label>
            </div>
            <div id={{question._id}} name={{question._id}} class="expChoices" role="group">
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled question}}" choice="A" >
                Queue A
            </button>
            <button type=button class="btn btn-primary btn-lg experimentChoices expChoice {{disabled question}}" choice="B" >
                Queue B
            </button>
        </div>
    </div>
    </section> 
</template>

<template name = "questionQuad">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question }}" id="{{question._id}}">
            <div class = "expQuestionText">
                <label for="{{question._id}}" class = "control-label {{disabled question}}">{{question.label}}</label>
            </div>
            <div id={{question.id}} name={{question.id}} class="expChoices" role="group">
            {{#each option in options question=question}}
                <button type=button
                    class="btn btn-primary btn-lg experimentChoices expChoice {{#if question.disabled}}disabled{{/if}}" 
                    choice="{{option.name}}" >
                    {{option.name}}
            </button>
            {{/each}}
        </div>
    </div>
    </section> 
</template>
<template name = "questionDropdown">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question }}" id="{{question._id}}">
            <div class = "expQuestionText">
                <label for="{{question._id}}" class = "control-label {{disabled question }}">{{question.label}}</label>
            </div>
            <div id={{question._id}} name={{question._id}} class="expChoices" role="group">
                <select class="" id="" {{disabled question }}>
                    <option hidden="hidden" value='' {{disabled question }} >Please Select</option>
                    {{#each option in options question=question}}
                    <option class='expChoice' choice="{{option.name}}" value="{{option.name}}" {{disabled question }} >{{option.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </section> 
</template>
<template name = "questionCheckbox">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question }}" id="{{question._id}}">
            <div class = "expQuestionText">
                <label for="{{question._id}}" class = "control-label {{disabled question }}">{{question.label}}</label>
            </div>
            <div id={{question._id}} name={{question._id}} class="expChoices" role="group">
                <select class="dropdown__menu" id="category-select" {{disabled question }}>
                    <option hidden="hidden" value='' {{disabled question }} >Please Select</option>
                    {{#each option in options question=question}}
                    <option class='expChoice' choice="{{option.name}}" value="{{option.name}}" {{disabled question }} >{{option.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </section> 
</template>

<template name = "questionText">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question }}" id="{{question._id}}">
            <div class = "expQuestionText">
                <label for="{{question._id}}" class = "control-label {{disabled question }}">{{question.label}}</label>
            </div>
            <div id={{question._id}} name={{question._id}} class="expChoices" role="group">
            <!-- <input id="{{_id}}" name="{{_id}}" value="text" class = "sm-width form-control expChoice"> -->
            <input id="{{question._id}}" name="{{question._id}}" type="text" class="sm-width form-control expChoice" title="{{question.fieldname}}" pattern="{{question.pattern}}" {{disabled question }} />
        </div>
    </div>
    </section> 
</template>

<template name="proceedButton">
    <div> 
        {{#if equals id "submitHIT"}}
        {{else}}
            <button type=button id="{{id}}" class="btn btn-primary btn-sm generalNavButton proceedButton pull-right {{disabled}}" autofocus >Next</button>
        {{/if}}
    </div> 
</template>

<template name="submitButton">
    <button type="submit" class="btn btn-primary btn-sm generalNavButton answersForm {{disabled}}" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" autofocus >
        Submit
    </button>
</template>


<template name="binaryForcedChoice" >
</template>

<template name="expGeneralInfoBox">
    <div class="expInfoTable">
        <ul class="list-group">
            <!--
                <li class="list-group-item">
                Assignment Id:&nbsp;
                <p class="extra-condensed">{{subStat.userId}}</p>
            </li>
            -->
            <li class="list-group-item">
                MTurk Worker ID:
                <p class="extra-condensed">{{subStat.mtWorkerId}} </p>
            </li>
            <!--
            <li class="list-group-item">
                Meteor Id:
                <p class="condensed">{{subStat.meteorUserId}} </p>
            </li>
            <li class="list-group-item">
                Cohort:
                <p>{{subStat.cohort_now}} </p>
            </li>
            <li class="list-group-item">
                Treatment:
                <p>{{subStat.treatment_now}} </p>
            </li>
            -->
            <li class="list-group-item">
                Bonus:
                <p>
                {{earnings subStat.bonusEarnings}}&nbsp;
                </p>
            </li>
        </ul>
    </div>
</template>
