<template name="instPrefInstructions">
    <br/>
        <section class="expPaneMargin">
            <p><strong>Please review these instructions carefully.</strong>  Participation in this experiment is based on your passing a comprehension test. If you fail the test you will pass the HIT and earn <strong>10&cent;</strong>, but you will be ineligible to participate in the main experiment, which offers a theoretical maximum of <strong>$6.50</strong> in bonus earnings, and a minimum of <strong>$1.75</strong>. This experiment takes about 15 minutes to complete. </p>
        </section>
        <section class="expPaneMargin">
            <h3>Game description</h3>
            <p>
                <strong><strong>You are going to play a series of games in which you are matched with others.</strong></strong> 
            </p>
            <p>
                <strong>For each game you will have two choices and the other player will have two choices.</strong>  The game's outcome &mdash; the amounts of points you and the other player earn &mdash; depends on both of your choices.  
            </p>
            <p><strong>Each point is worth <span class="earnings">25&cent; USD</span>.</strong> For example, if you or the other player recieve the maximum payoff of <span class="earnings">4</span> points, we will add <span class="earnings">$1.00 USD</span>  to your bonus earnings.</p>
            <p>
            <strong>Your decision will always be between Choice <span class="you"><strong>Top</strong></span> and Choice <span class="you"><strong>Bottom</strong></span>.</strong> The other player can only pick between Choice <span class="other">Right</span> and Choice <span class="other">Left</span>. 
            </p>
            <p>
                Because the outcome depends both on your choice and the other player's, <strong>you should always think about what the other player might choose while making your own choice.</strong>
            </p>
        </section>
        <section class="expPaneMargin">
            <h3>Game Interface</h3>
            <p>
            <strong><strong>Below is a version of the interface we will use to show you games in this experiment.</strong></strong> The grid shows four squares. These are the four game outcomes. <span class="you blue">Information related to <strong>You</strong> will be in blue</span>.  For example, in each square the <span class="you blue">blue</span> triangle shows the number of points that that outcome pays to you, while the <span class="other grey">grey triangle shows payoffs to the Other Player</span>.  In the game interface, you can hover over your two choices for a description of how it will influence your payoffs. 
            </p>
            <p>
            The other games in this experiment will have the same interface.  The only difference is that the other games will show different payoffs that cause you to prefer different outcomes.
            </p>
            <p>
                <strong>In this example,</strong> if you choose <span class="you blue">Top</span> and the other player chooses <span class="other grey">Left</span> you will both earn <span class="earnings">3</span> points.  On the other hand, if you choose <span class="you blue">Bottom</span> and the other player chooses <span class="other grey">Right</span>, you will both earn <span class="earnings">2</span> points. With some outcomes you each earn different numbers of points: if you choose <span class="you blue">Top</span> and the other player chooses <span class="other grey">Right</span>, you will earn <span class="earnings">1</span> point while the other player earns <span class="earnings">4</span> points. And the opposite outcome results when you choose <span class="you blue">Bottom</span> and the other player chooses <span class="other grey">Left</span>.
            </p>
        </section>
        <hr class="expPaneMargin"/>
                    <p><strong><strong>EXAMPLE GAME INTERFACE:</strong></strong></p>
                    {{> gameNormalForm id="tutorial" gameId="tutorial" choiceType="chooseStrategy" payoffs=question.payoffs context=context question=question}}
                    <p class="expPaneMargin" style="display:center;"><em>This is a sample of the game interface that will be used through the experiment. Clicking an option will select it. Your points are in <span class="you blue">blue</span>.</em></p>
        <hr class="expPaneMargin"/>
        <section class="expPaneMargin">
            <h3>Experiment flow</h3>
            <p><strong><strong>You will play three sections of three games each.</strong></strong> For each game, you will have to answer two questions, one in which you chose a strategy and one in which you select your ideal outcome. After completing the first two games in a section, you will be asked which game you would like to play a second time, and you will have a chance to play that game a second time, for the same reward. In one of the sections you will get to see the results of the two games before choosing, while in the other you will not get this feedback. </p> 
            <p><strong>You will repeat this procedure two times, for a total of six games.</strong> Afterwards, you will complete the Survey for an additional <span class="earnings">50&cent;</span>, before submitting this HIT.</p> 
        </section>
        <section class="expPaneMargin">
            <h3>Other player</h3>
            <p><strong><strong>You will be rematched with a different Turker in each section of the experiment.</strong></strong>  You will both play blind; neither player will have a chance to see the other's choice before choosing. You can assume that the other Turker is about as motivated as you to maximize the number of points they earn.  </p>
            <!--
                <figure class='tutorial'>
                    {{> visualGame payoffIdPrefix="tutorial" payoffPlayerTop=2 payoffPlayerSide=3}}
                    <figcaption>
                        This is a game outcome with two payoffs.  The numbers are the payoffs, and the one in blue is yours. A game consists of four outcomes. Each outcome can pay different numbers of points to you and the other player.  <strong>In this example outcome, you would earn 3 points and the other player would earn 2.</strong>
                    </figcaption>
                </figure>
                -->
        </section>
        <section class="expPaneMargin">
            <h3>Next</h3>
            <p><strong><strong>Next you will take a comprehension quiz.</strong></strong> If you want to review these instructions at any point in the experiment, just click the <strong><strong>Instructions</strong></strong> tab in the upper left. On the upper right you will see information about your current choices and earnings.</p> 
            <p>
                Once again, because the outcome depends both on your choice and the other player's, <strong>you should always think about what the other player might choose while making your own choice.</strong>
            </p>
            <p style="text-align: right;"><strong><strong>Click NEXT to begin the quiz.</strong></strong></p>
        </section>
</template>

<template name="instPrefQuiz">
    <br/>
        <section class="expPaneMargin">
            <p><strong><strong>You will now be tested on your comprehension of the instructions on the previous page.</strong></strong> Participation in this experiment is based on your answering these questions correctly. If you fail the quiz you will pass the HIT and earn <strong>10&cent;</strong>, but you will be ineligible to participate in the main experiment, which offers a theoretical maximum of <strong>$6.50</strong> in bonus earnings.</p>
            <p><strong><strong>You will have three tries to get all of the questions correct.</strong></strong> If you want to review these instructions at any point in the experiment, just click the <strong><strong>Instructions</strong></strong> tab in the upper left.</p> 
            <h3>Quiz</h3>
            <p>
            Below you will answer questions about the game introduced in the instructions. During the experiment itself you will face different games (games with different numbers in the payoffs), but <strong>practice thinking through the questions about this game will prepare you for the other game you play in this experiment.</strong> 
            </p>
            <p>When you have answered all of the questions as carefully as you can, click <strong>SUBMIT</strong>.</p>
    </section>
</template>
<template name="instPrefGame">
    Hello, {{currentSection.id}}
</template>


<template name="gameNormalForm">
    <div class="expPaneNoMargin gameNormalForm ">
                <span style="{{#if equals choiceType 'chooseStrategy'}}float:left;{{/if}}">
                    <table id="{{gameId}}" class="gameNormalFormGame {{choiceType}} btn-group {{disabled question}} {{#if equals gameId 'XXXtutorial'}}noactive{{/if}} {{#if equals choiceType 'chooseGame'}}expChoice{{/if}}" role="group" data-value="{{gameChoice}}">
                    <colgroup></colgroup> 
                    <colgroup id="{{gameId}}" class="gameNormalFormChoice {{#if equals choiceType 'chooseStrategyTop'}}expChoice{{/if}}" data-value="Left" ></colgroup> 
                    <colgroup id="{{gameId}}" class="gameNormalFormChoice {{#if equals choiceType 'chooseStrategyTop'}}expChoice{{/if}}" data-value="Right" ></colgroup>
                    {{#unless equals choiceType 'chooseGame'}}
                    <thead> <tr> <td></td> <th scope="col"> Left </th> <th scope="col"> Right </th> </tr> </thead>
                    {{/unless}}
                    <tbody>
                        <tr id={{gameId}} class="gameTableRow gameNormalFormChoice {{#if equals choiceType 'chooseStrategy'}}expChoice{{/if}}" data-value="Top" >
                            {{#unless equals choiceType 'chooseGame'}}
                            <th> Top</th>
                            {{/unless}}
                            <td scope="row">
                                <button type="button" id={{gameId}} class="gameNormalFormOutcome {{#if equals choiceType 'chooseOutcome'}}expChoice{{/if}}" data-value="Top,Left" data-toggle="button" >
                                    {{> visualGame payoffIdPrefix="outcomeTL" payoffs=payoffs payoffPlayerTop="otl" payoffPlayerSide="ytl"}}
                                </button>
                            </td>
                            <td scope="row" class="" >
                                <button type="button" id={{gameId}} class="gameNormalFormOutcome {{#if equals choiceType 'chooseOutcome'}}expChoice{{/if}}" data-value="Top,Right" data-toggle="button" >
                                    {{> visualGame payoffIdPrefix="outcomeTR" payoffs=payoffs payoffPlayerTop="otr" payoffPlayerSide="ytr"}}
                                </button>
                            </td>
                        </tr>
                        <tr id={{gameId}} class="gameTableRow gameNormalFormChoice {{#if equals choiceType 'chooseStrategy'}}expChoice{{/if}}" data-value="Bottom" >
                            {{#unless equals choiceType 'chooseGame'}}
                            <th class="" > Bottom </th>
                            {{/unless}}
                            <td scope="row" class="" >
                                <button type="button" id={{gameId}} class="gameNormalFormOutcome {{#if equals choiceType 'chooseOutcome'}}expChoice{{/if}}" data-value="Bottom,Left" data-toggle="button" >
                                    {{> visualGame payoffIdPrefix="outcomeBL" payoffs=payoffs payoffPlayerTop="obl" payoffPlayerSide="ybl"}}
                                </button>
                            </td>
                            <td scope="row" class="" >
                                <button type="button" id={{gameId}} class="gameNormalFormOutcome {{#if equals choiceType 'chooseOutcome'}}expChoice{{/if}}" data-value="Bottom,Right" data-toggle="button" >
                                    {{> visualGame payoffIdPrefix="outcomeBR" payoffs=payoffs payoffPlayerTop="obr" payoffPlayerSide="ybr"}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </span>
                {{#if equals choiceType 'chooseStrategy'}}
                <span class="gameVisualText">
                    When <span class="player you">you</span> choose <span class="strategy you">{{textGameFeedbackStrategy}}</span><br/>
                    the <span class="player other">Other Player</span> will either<br/>
                    &emsp;earn <span class="payoff other">{{textGamePayoffs question.payoffs "Left" textGameFeedbackStrategy "Other"}}</span> <br/>
                    &emsp;&emsp;&thinsp;or <span class="payoff other">{{textGamePayoffs question.payoffs "Right" textGameFeedbackStrategy "Other"}}</span> quarters .<br/>
                    Specifically, if they choose <span class="strategy other">Left</span><br/>
                    &emsp;&emsp;they will earn 
                        <span class="payoff other">{{textGamePayoffs question.payoffs "Left" textGameFeedbackStrategy "Other"}}</span><br/>
                        &emsp;&emsp;and <span class="player you">You</span> will earn 
                        <span class="payoff you">{{textGamePayoffs question.payoffs "Left" textGameFeedbackStrategy "You"}}</span>,<br/>
                    &emsp;if <span class="player other">Other Player</span> chooses <span class="strategy other">Right</span><br/>
                    &emsp;&emsp;they will earn 
                        <span class="payoff other">{{textGamePayoffs question.payoffs "Right" textGameFeedbackStrategy "Other"}}</span><br/>
                        &emsp;&emsp;and <span class="player you">You</span> will earn 
                        <span class="payoff you">{{textGamePayoffs question.payoffs "Right" textGameFeedbackStrategy "You"}}</span>.<br/>
                        <br/>
                        <br/>
                </span>
                {{/if}}
    </div>
</template>
<template name="visualGame">
                    <svg width="110px" height="110px" viewBox="0 0 100 100" 
                            xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <!--<line x1="0" y1="0" x2="100" y2="100" stroke="#000000" stroke-width="0px" /> width is 5 (half 10) because viewbox is zoomed in to give me a uniform coordinate system in boxes -->
                        <g class="gameNormalFormPayoff gamePlayerTop gamePlayerOther" id="{{payoffIdPrefix}}T" data-value={{payoffPlayerTop}}>
                            <polygon fill="none" pointer-events="all" stroke="#80D8FF" stroke-width="0px" points="0,0 100,0 100,100 0,0" />
                            <text x="75" y="30" text-anchor="middle" alignment-baseline="middle">
                                {{getPayoff payoffs payoffPlayerTop}}
                            </text>
                        </g>
                        <g class="gameNormalFormPayoff gamePlayerSide gamePlayerYou" id="{{payoffIdPrefix}}S" data-value={{payoffPlayerSide}} >
                            <polygon fill="none" pointer-events="all" stroke="#80D8FF" stroke-width="0px" points="0,0 0,100 100,100 0,0" />
                            <text x="25" y="75" text-anchor="middle" alignment-baseline="middle" >
                                {{getPayoff payoffs payoffPlayerSide}}
                            </text>
                        </g>
                    </svg>
</template>
<template name = "questionGame">
    <section class="expPaneNoMargin experiment"> 

        <div class = "expQuestion {{question.type}} form-group {{getHasError question}}" id="{{question._id}}">
            <h3 class="questionTitle" >{{question.title}}</h3>
            {{question.text}}
            <label for="{{question._id}}" class = "control-label {{disabled question}}">{{question.label}}</label>
            {{> gameNormalForm id=question._id gameId=question._id choiceType=question.type payoffs=question.payoffs question=question context=.. }}
        </div>
    </section> 
</template>
<template name = "questionGameCompare">
    <section class="expPaneNoMargin experiment"> 
        <div class = "expQuestion {{question.type}} form-group {{getHasError question}}" id="{{question._id}}">
            <h3 class="questionTitle" >{{question.title}}</h3>
            <label for="{{question._id}}" class = "control-label {{disabled question}}">{{question.text}}</label>
            <table class="gameNormalFormGame gameNormalFormGameCompare">
                <thead>
                    <tr>
                        <th scope="col">
                            First Game
                        </th>
                        <th scope="col">
                            Second Game
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{> gameNormalForm id=question._id gameId=question._id choiceType="chooseGame" payoffs=question.payoffsGame1 gameChoice=question.idGame1 question=question context=..}}
                        </td>
                        <td>
                            {{> gameNormalForm id=question._id gameId=question._id choiceType="chooseGame" payoffs=question.payoffsGame2 gameChoice=question.idGame2 question=question context=..}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section> 
</template>
