<template name="experimenterView">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="experimenter-view">
        <h3> Experimenter View </h3> 
        <h4> Underlying background state. </h4> 
        {{> experimenterViewState }}
        <h4> Underlying subject's state. </h4> 
        {{> experimenterViewCurrentSubject }}
        <h4> Final payoffs. </h4> 
        {{> experimenterViewPayouts }}
        <br/>
        <p> 
        ONE OF A FEW DESIGN QUESTIONS: Subjects may not always submit their choices.  there are a few ways to deal with this. We can give all subjects a default choice of B.  we can kick people out and bump people after them further up the queue (but their decisio will have been based on where they were twhen they decided, and not where they wer when they ended up), or if #5 bails but 50 peeople sign up in the mean time, I can tell the 51st person to come that they are #5 and the 52nd that they are #51.  Preferences?
        </p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
</template>

<template name="experimenterViewState">
    <table>
        <tbody>
            <tr>
                <td>
                    Current position: {{queuePosition}}
                </td>
                <td>
                    Current queue: {{cohortId}}
                </td>
                <td>
                    Max per queue: {{maxPlayersInCohort}}
                </td>
            </tr>
            <tr>
                <td>
                    People in A: {{queueCountA}}
                </td>
                <td>
                    People in B: {{queueCountB}}
                </td>
                <td>
                    Defaulted people: {{queueCountNoChoice}}
                </td>
            </tr>
        </tbody>
    </table>
</template>

<template name="experimenterViewCurrentSubject">
    <table>
        <tr>
            <td>
                Assignment Id: {{userId}}
            </td>
            <td>
                Meteor Id: {{meteorUserId}}
            </td>
            <td>
                cohort Id: {{cohortId}}
            </td>
        </tr>
    </table>
</template>

<template name="experimenterViewPayouts">
        <p>Pick a queue to calculate payoffs for.</p>
        {{> queueSelection}}
        {{#if showQueueCalc }}
            <table class="payoffs-list">
                    <tr>
                        <th>
                            User ID
                        </th>
                        <th>
                            Final position
                        </th>
                        <th>
                            Initial position
                        </th>
                        <th>
                            Choice
                        </th>
                        <th>
                            Queue Earnings
                        </th>
                        <th>
                            Total Payoff
                        </th>
                    </tr>
                {{#each subject in subjects}}
                    {{> experimenterViewPayout subject=subject}}
                {{else}}
                    <tr><td>No subjects</td></tr>
                {{/each}}
            </table>
        {{else}}
            <li>After experiment ends, payoffs listed here</li>
        {{/if}}
</template>

<template name="experimenterViewPayout">
                <tr>
                    <td>
                        {{subject.userId}}
                    </td>
                    <td>
                        {{subject.queuePositionFinal}}
                    </td>
                    <td>
                        {{subject.queuePosition}}
                    </td>
                    <td>
                        {{subject.choice}}
                    </td>
                    <td>
                        {{subject.earnings2}}
                    </td>
                    <td>
                        {{earningsTotal subject}}
                    </td>
                </tr>
</template>

<template name="queueSelection">
    <select class="dropdown__menu" id="category-select">
        <option disabled="disabled" selected="selected">Please Select</option> 
        {{#each items}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</template>
