<template name="experimenterView">
    <br/>
    <br/>
    <br/>
    <br/>
    <section>
    <div class="experimenter-view">
        <h3> Experimenter View </h3> 
        <div class="container-fluid">
            <h4> Underlying background state. </h4> 
            {{> experimenterViewState }}
            <h4> Underlying subject's state. </h4> 
            {{> experimenterViewCurrentSubject }}
            <h4> Underlying subject's data. </h4> 
            {{> experimenterViewCurrentSubjectData }}
            <h4> Final payoffs. </h4> 
            {{> experimenterViewPayouts }}
        </div>
        <br/>
        <p> 
        </p>
    </div>
    </section>
    <br/>
    <br/>
    <br/>
    <br/>
</template>

<template name="experimenterViewState">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>
                    Current queue: {{cohortId}}
                </td>
                <td>
                    Current section: {{section}}
                </td>
                <td>
                    Current round: {{round}}
                </td>
                <td>
                    Max per queue: {{maxPlayersInCohort}}
                </td>
            </tr>
            <tr>
                <td>
                    Current position: {{queuePosition}}
                </td>
                <td>
                    People in A: {{queueCountA}}
                </td>
                <td>
                    People in B: {{queueCountB}}
                </td>
                <td>
                    Defaulted people: {{queueCountNoChoice}}
                </td>
            </tr>
        </tbody>
    </table>
</template>

<template name="experimenterViewCurrentSubject">
    <table class="table table-bordered">
        <tr>
            <td>
                Assignment Id: {{userId}}
            </td>
            <td>
                Meteor Id: {{meteorUserId}}
            </td>
            <td>
                cohort Id: {{cohortId}}
            </td>
        </tr>
    </table>
</template>
<template name="experimenterViewCurrentSubjectData">
    <table class="table table-bordered">
                <thead>
        <tr>
            <td>
                section
            </td>
            <td>
                round
            </td>
            <td>
                choice
            </td>
        </tr>
                </thead>
                <tbody>
                    {{#each datapoint in data}}
                        {{> experimenterViewCurrentSubjectDataPoint datapoint=datapoint}}
                    {{else}}
                        <tr><td>No subject data</td></tr>
                    {{/each}}
                </tbody>
    </table>
</template>
<template name="experimenterViewCurrentSubjectDataPoint">
                <tr>
                    <td>
                        {{datapoint.sec}}
                    </td>
                    <td>
                        {{datapoint.sec_rnd}}
                    </td>
                    <td>
                        {{dataString datapoint}}
                    </td>
                </tr>
</template>

<template name="experimenterViewPayouts">
        <p>Pick a queue to calculate payoffs for.</p>
        {{> cohortSelection}}
        {{#if showExperimentCalc }}
            <table class="table table-striped payoffs-list">
                <thead>
                    <tr>
                        <th>
                            User ID
                        </th>
                        <th>
                            Cohort
                        </th>
                        <th>
                            Section
                        </th>
                        <th>
                            Round
                        </th>
                        <th>
                            Choice done
                        </th>
                        <th>
                            Experiment done
                        </th>
                        <th>
                            Cohort done
                        </th>
                        <th>
                            Final position
                        </th>
                        <th>
                            Initial position
                        </th>
                        <th>
                            Choice
                        </th>
                        <th>
                            Choice Earnings
                        </th>
                        <th>
                            Total Payoff
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each subject in subjects}}
                        {{> experimenterViewPayout subject=subject}}
                    {{else}}
                        <tr><td>No subjects</td></tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <div class="alert alert-info">After experiment ends, payoffs listed here</div>
        {{/if}}
</template>

<template name="experimenterViewPayout">
                <tr>
                    <td>
                        {{subject.userId}}
                    </td>
                    <td>
                        {{subject.theData.cohortId}}
                    </td>
                    <td>
                        {{subject.sec}}
                    </td>
                    <td>
                        {{subject.sec_rnd}}
                    </td>
                    <td>
                        {{subject.completedChoice}}
                    </td>
                    <td>
                        {{completedExperiment subject}}
                    </td>
                    <td>
                        {{completedCohort subject}}
                    </td>
                    <td>
                        {{subject.theData.queuePositionFinal}}
                    </td>
                    <td>
                        {{subject.theData.queuePosition}}
                    </td>
                    <td>
                        {{subject.theData.choice}}
                    </td>
                    <td>
                        {{earningsChoice subject}}
                    </td>
                    <td>
                        {{earningsTotal subject}}
                    </td>
                </tr>
</template>

<template name="cohortSelection">
    <select class="dropdown__menu" id="category-select">
        <!-- <option disabled="disabled" selected="selected">Please Select</option> -->
        {{#each items}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
</template>
