<template name="home">
    <div class="home bg">
    {{> navigation}}
    	<div class="jumbotron">
        <div class="row well well-lg">
            <div class="col-xs-12">
                <p style = "font-size:40px; margin-bottom:0px" align="center"><b>Behavior in Games of Strategy</b></p>
                <p style = "font-size:15px" align="center"> An experiment by the <span class="semi-bold">Computational Social Affective Neuroscience Laboratory</span> at <span class="semi-bold">Dartmouth College</span></p>
                <br>
                <p align="center">This HIT involves playing games with other Turkers for bonus earnings, and answering questions about those games.</p>
                <p align = "center">It takes about 10 minutes.</p>
                <p align = "center"> If you choose to accept please participate immediately and do not save the HIT for later.</p>
            </div>
        </div>        
    </div>
    {{> contactFooter}}
    </div>
</template>
