<template name="instPrefInstructions">
    <br/>
        <section class="expPaneMargin">
            <p><strong>Please review these instructions carefully.</strong>  Participation in this experiment is based on your passing a comprehension test. If you fail the test you will pass the HIT and earn <span class="earnings">{{earnings design.earnings.HIT}}</span>, but you will be ineligible to participate in the main experiment, which offers a theoretical maximum of <span class="earnings">{{earnings design.earnings.maxBonus}}</span> in bonus earnings, and a minimum of <span class="earnings">{{earnings design.earnings.minBonus}}</span>. This experiment takes about 15 minutes to complete. After completion, it will take us minutes to hours to calculate and distribute your earnings. It will not take longer than 12 hours. You will be provided with a link from which you can check on the status of your earnings. </p>
        </section>
</template>

<template name="instructions1">
			<div class="consent">
                <h2 class="sectionHeader" >Consent to Participate</h2>
				<br>
				<blockquote>
					This HIT is part of a project being conducted by researchers from the department of Psychological and Brain Sciences at Dartmouth College, Hanover, NH, USA.  The study aims broadly to understand how people interact and what types of interactions they seek out. 
					<br><br>
					Your participation is voluntary. Participation involves interacting with other participants in abstracted games. 
					<br><br>
					The information collected will be anonymous as per Mechanical Turk guidelines.
					<br><br>
					Questions about this project may be directed to the
					Computational Social and Affective Neuroscience Lab<br>
					<span align='center'>computational.social.affective.neuroscience.lab@dartmouth.edu</span><br><br>
					This contact information will appear on the banner at the bottom of your screen for the duration of the HIT.
				</blockquote>
                <p style='text-align: center;'><b>Select <em>Agree</em> below if you consent to participate in this study. If you <em>Do&nbsp;Not&nbsp;Agree</em> to participate you will be asked to return the HIT.</b></p>
			<div >
				<div >
				<button type="button" class="btn btn-lg btn-success navButton" style=" margin-right:5%" id="Consent" >Agree</button>
				<button type="button" class="btn btn-lg btn-danger navButton"  aria-label="Left Align" style="margin-left:5%" id="NoConsent" >Do Not Agree</button>
				</div>
			</div>
			</div>
</template>
<template name="instructions2">
    <h2 class="sectionHeader" >Instructions</h2>
        <hr class="expPaneMargin"/>
                    <p><strong><strong>EXAMPLE GAME INTERFACE:</strong></strong></p>
                    <div class="expQuestion chooseStrategy">
                        {{> gameNormalForm choiceType="chooseStrategy" payoffs=aQuestion.payoffs context=context question=aQuestion}}
                    </div>
                    <p class="expPaneMargin" style="display:center;"><em>This is a sample of the game interface that will be used through the experiment. Clicking an option will select it. Your points are in <span class="you blue">blue</span>.</em></p>
        <hr class="expPaneMargin"/>
</template>
<template name="instructions3">
        <section class="expPaneMargin">
            <h3>Game description</h3>
            <p>
                <strong><strong>You are playing a series of games in which you are matched with one other player.</strong></strong> 
            </p>
            <p>
                <strong>Each game provides you with two choices and the other player with two choices.</strong>  Each game's outcome &mdash; the amounts of points you and the other player earn &mdash; depends on both of your choices.  
            </p>
            <p><strong>Each point is worth <span class="earnings">{{earnings design.earnings.point}}</span>.</strong> For example, if you or the other player receive the maximum payoff of <span class="earnings">3</span> points, we will add <span class="earnings">{{earnings 0.45}}</span> to your bonus.</p>
            <p>
            <strong>Your decision will always be between Choice <span class="you"><strong>Top</strong></span> and Choice <span class="you"><strong>Bottom</strong></span>.</strong> The other player can only pick between Choice <span class="other"><strong>Right</strong></span> and Choice <span class="other"><strong>Left</strong></span>. 
            </p>
            <p>
            <strong>You will both play blind</strong>; neither player will have a chance to see the other's choice before choosing. The other player is reading the same instructions and sees the same interface and experiment as you. You can assume that the other Turker is about as motivated as you to maximize the number of points they earn.
            </p>
            <p>
                Because the outcome depends both on your choice and the other player's, <strong>you should always think about what the other player might choose while making your own choice.</strong>
            </p>
        </section>
</template>

<template name="instructions4">
        <section class="expPaneMargin">
            <h3>Experiment flow</h3>
            <p><strong><strong>You will play two sections of three games each.</strong></strong> In addition to making a choice for each game, you will have to answer two questions about it, identifying your preferred and expected outcomes. After completing the first two games in a section, you will be asked which game you would like to play a second time, and you will have a chance to play that game again for additional earnings.  </p> 
            <p><strong>You will repeat this procedure in each section, for a total of six games.</strong> During a section, you may get to see the results of the two games before choosing, or you may not get this result information. Afterwards, you will complete the <em>Survey</em> for an additional <span class="earnings">{{earnings design.earnings.survey}}</span>, before submitting this HIT.</p> 
        </section>
</template>
<template name="instructions5">
        <section class="expPaneMargin">
            <!--
            <h3>Other player</h3>
            <p><strong><strong>You will be rematched with a different Turker in each section of the experiment.</strong></strong>    </p>
                <figure class='tutorial'>
                    {{> visualGame payoffIdPrefix="tutorial" payoffPlayerTop=2 payoffPlayerSide=3}}
                    <figcaption>
                        This is a game outcome with two payoffs.  The numbers are the payoffs, and the one in blue is yours. A game consists of four outcomes. Each outcome can pay different numbers of points to you and the other player.  <strong>In this example outcome, you would earn 3 points and the other player would earn 2.</strong>
                    </figcaption>
                </figure>
                -->
        </section>
</template>
<template name="instructions6">
    PAGE 6 {{stage}}
        <section class="expPaneMargin">
            <h3>Next</h3>
            <p><strong><strong>Next you will take a comprehension quiz.</strong></strong> If you want to review these instructions at any point in the experiment, just click the <strong><strong>Instructions</strong></strong> tab in the upper left. On the upper right you will see information about your current choices and earnings.</p> 
            <p>
                Once again, because the outcome depends both on your choice and the other player's, <strong>you should always think about what the other player might choose while making your own choice.</strong>
            </p>
            <p style="text-align: right;"><strong><strong>Click NEXT to begin the quiz.</strong></strong></p>
        </section>
</template>
<template name="instructions7">
    PAGE 7 {{stage}}
</template>
<template name="instPrefQuiz">
    <h2 class="sectionHeader" >Quiz</h2>
    <br/>
    
        <section class="expPaneMargin">
            <p>
            <strong><strong>You will now be tested on your comprehension of the instructions.</strong></strong> Participation in this experiment is based on your answering these questions correctly. You may return to the <em>Instructions</em> if you need more time. 
            </p>
            <p>
            The questions below are about the game that was introduced in the instructions. During the experiment itself you will play different games (games with different numbers in the payoffs), but <strong>the questions below are useful to keep in mind during any game you play in this experiment.</strong> 
            </p>
            <p>
            When you have answered all of the questions as carefully as you can, click <strong>SUBMIT</strong>.
            </p>
            <p>
            <strong><strong>You have three tries to get all of the questions correct.</strong></strong>
            </p> 
            <br/>
    </section>
</template>


<template name="instPrefGame0">
    <p>
    <strong><strong> You have just been matched with another player.</strong></strong>
        Begin by making your choice for the game below and answering two questions about it.</p>
</template>
<template name="instPrefGame1">
        <p>You will now play a similar game with the same player.</p>
</template>
<template name="instPrefGame2">
    <p>
    This is an informational round that allows you to review the two games you just played.
    {{#if equals subStat.treatment_now "nofeedback"}}
        <strong><strong>The feedback below does not include information about what the other player's choices were.</strong></strong>  
    {{else}} {{#if equals subStat.treatment_now "feedback"}}
        <strong><strong>The feedback below includes full information about what the other player's choices were.</strong></strong>  
    {{else}}
            Something is wrong. Code YRAKASDFASDFSHGK.
    {{/if}} {{/if}}
    </p>
    <p>
    In the next round we will ask you which of these two games you most prefer to play again.
    </p>
        <p>When you are done reviewing these results, proceed.</p>
            {{#each question in questionsFeedback}}
                {{#if equals question.type "chooseStrategy" }}
                    {{#if question.completedGame}}
                        {{> gameNormalFormOutcomeFeedback question=question}}
                    {{else}}
                        {{> gameNormalFormChoiceFeedback question=question}}
                    {{/if}}
                {{/if}}
            {{/each}}
</template>
<template name="instPrefGame3">
    <p>
        <strong><strong>In the next round you will play 
        one of the games below a second time</strong></strong>, for 
        additional earnings.  
        The next round's game is most likely to 
        be the one you chose, but it is not guaranteed to be.
    </p>
</template>
<template name="instPrefGame4">
            {{#each question in questionsColl}}
                {{#if question.gameWasPreferred}}
                    <strong><strong>Your choice in the previous round was selected; below is the game that you preferred.</strong></strong>
                {{else}}
                    <strong><strong>Your choice in the previous round was not selected; below is the game that you did not prefer.</strong></strong>
                {{/if}}
            {{/each}}
            Please play it one more time. 
</template>

<template name="gameNormalFormChoiceFeedback">
    <div class="expPaneNoMargin gameNormalFormFeedback ">
        <span style="float:right;">
            {{> gameNormalFormGame id=question._id gameId=question._id choiceType="chooseStrategy" payoffs=question.payoffs question=question context=..}}
        </span>
            <span class="gameVisualText big">
                <br/>
                <br/>
                In this game,
                <br/>
                <span class="player you">you</span> chose <span class="strategy you">{{question.choice}}</span>.
                <br/> 
        </span>
    <span class="clearfix"></span>
    </div>
</template>
<template name="gameNormalFormOutcomeFeedback">
    <div class="expPaneNoMargin gameNormalFormFeedback">
        <span style="float:right;">
            {{> gameNormalFormGame id=question._id gameId=question._id choiceType="chooseOutcome" payoffs=question.payoffs question=question context=..}}
        </span>
        <span class="gameVisualText">
            <br/>
            In this game,
            <br/>
            <span class="player you">You</span> chose <span class="strategy you">{{question.outcomeFocal}}</span> and
            <br/>
            the <span class="player other">Other Player</span> chose <span class="strategy other">{{question.outcomeOther}}</span>,
            <br/>
            So <span class="player you">You</span> 
            <br/>
            earned <span class="payoff you">{{question.payoffEarnedFocal}}</span> and
            <br/>
            the <span class="player other">Other Player</span> 
            <br/>
            earned <span class="payoff other">{{question.payoffEarnedOther}}</span>.
            <br/>
            <br/>
            <br/>
        </span>
        <span class="clearfix"></span>
    </div>
</template>
<template name="gameCompareFeedback">
    <div class="expPaneNoMargin gameNormalFormFeedback">
            {{> gameComparison question=question }}
    </div>
</template>
<template name="earningsReport">
    <div class="center-block"> 
        <p>
            You played {{subStat.HITStatus.gamesPlayed}} games for money. Their 
            statuses are reported below.
        </p>
        <p>
            {{#if equals subStat.HITStatus.gamesPlayed subStat.HITStatus.gamesConsummated}}
                <strong><strong>Your session is now complete, and your bonus fully calculated.</strong></strong>
            {{else}}
                <strong><strong>Your bonus is not yet fully calculable.</strong></strong>
                So far, 
                {{#if gt subStat.HITStatus.gamesConsummated 0 }}
                    the other players have completed only {{subStat.HITStatus.gamesConsummated}}
                {{else}}
                    the other players have not completed any
                {{/if}}
                of the games you played.  These incomplete 
                games are marked as such in the feedback below.
            {{/if}}
        </p>
        <p>
            {{#if equals subStat.HITStatus.gamesPlayed subStat.HITStatus.gamesConsummated}}
                Your bonus 
            {{else}}
                Your current bonus 
            {{/if}}
            is {{earnings subStat.bonusEarnings}}
            {{#unless gt subStat.isExperienced 0}}, including 
                {{earnings design.earnings.quiz}} for passing the quiz and 
                {{earnings design.earnings.survey}} 
                for completing the survey
            {{/unless}}
            .
        </p>
        <p>
            It should not take more than a few hours for the rest of your 
            choices to be matched and for your bonus to be calculated. 
        </p>
        <p>
            You may proceed to the <strong>Submit</strong> page when you 
            are done reviewing these results. We welcome your comments and 
            feedback.
        </p>

        <h2> All questions </h2>
            {{#each question in questionsFeedback allQs=true}}
            <div class="experiment">
                <h3>
                    <strong><strong>{{question.sec_label}}</strong>, {{question.title}}</strong>
                </h3>
                {{#if equals question.type "chooseStrategy" }}
                    {{#if question.completedGame}}
                        {{> gameNormalFormOutcomeFeedback question=question}}
                    {{else}}
                        {{> gameNormalFormChoiceFeedback question=question}}
                    {{/if}}
                    {{#if question.completedGame}}
                        <div class="alert alert-success gameOutcomeFeedback">
                            <strong>Your final payoff in this game was {{earnings question.payoffEarnedFocal 'translateFromPoints'}}.</strong> The other player earned {{earnings question.payoffEarnedOther 'translateFromPoints'}}.
                        </div>
                    {{else}}
                        <div class="alert alert-warning gameOutcomeFeedback">
                            Your payoff in this game cannot be calculated until the other player has made their choice.
                        </div>
                    {{/if}}
                {{else}} {{#if equals question.type "chooseGame" }}
                    {{> gameCompareFeedback question=question}}
                    {{#if question.gotPreferredGame}}
                        <div class="alert alert-info gameOutcomeFeedback">
                            <strong>You preferred this game, and it was 
                                selected for you to play at the end of 
                                {{{nbsp question.sec_label }}}.</strong>
                        </div>
                    {{else}}
                        <div class="alert alert-info gameOutcomeFeedback">
                            <strong>You preferred this game, but the other 
                                was selected for you to play at the end of 
                                {{{nbsp question.sec_label }}}.</strong>
                        </div>
                    {{/if}}
                {{/if}}
                {{/if}}
            </div>
            {{/each}}
    </div>
</template>
<template name="instructions8">
</template>
<template name="repeatUser">
        <section class="expPaneMargin">
                <h2 class="sectionHeader" >Welcome Back</h2>
        <p>
        <strong><strong>Welcome back to the experiment.</strong></strong>  You will not have to repeat the <em>Instructions</em>, <em>Quiz</em>, or <em>Survey</em>. Instead, you will proceed straight to the main experiment, in which you can earning a maximum bonus of <span class="earnings">{{earnings design.earnings.maxExperiment}}</span> and minimum bonus of <span class="earnings">{{earnings 0}}</span>. As before, you will play two sections, and be rematched to different players for each section. 
        </p>
        <p>
        <strong><strong>You have repeated this experiment {{inc subStat.isExperienced}} times, out of a maximum of {{design.maxExperimentReps}}.</strong></strong>
        </p>
        <p>
        Select <strong>Next</strong> to begin the experiment. 
        </p>
        <br/>
                        <div class="row">
                            {{> proceedButton id=currentSection.id }}
                        </div>
        </section>
</template>
