
<template name="mainInstructions">
    <div class="center-block"> 
        {{> navButton stage=stage fn="Backward"}} {{> navButton stage=stage fn="Forward"}}
        {{! {{> instPrefInstructions context=..}}
        {{! {{> queueingInstructions}}

        {{> yield "instructions"}}
        {{> navButton stage=stage fn="Backward"}} {{> navButton stage=stage fn="Forward"}}
    </div>
</template>
<template name="navButton">
    <button type="button" class = "btn-link navButton" aria-label="Left Align" style="margin-left:auto; margin-right:auto; display:block" value={{#if equals fn "Forward"}}{{inc stage}}{{/if}}{{#if equals fn "Backward"}}{{dec stage}}{{/if}} autofocus >
        {{fn}}
    </button>
</template>
