
<template name="mainInstructions">
                <h1>Instructions</h1>
    <p class="center-block"> 
    This experiment consists of one choice.  You are playing a game with other Turkers that simulates waiting in line. You are person #{{counterNet}} out of a series of {{groupSize}} people making the same decision and with whom your choices will interact.  You are not yet in line, and the game is currently paused while you make your choice to enter the line. This game will end when {{groupSize}} people have joined the line, and everyone will recieve their earnings at this time. 
    </p> 
    <p> 
    You are being endowed with a {{endowment}} account.   You will earn additional money for joining the line based on your final position in it. Specifically, you will earn an additional {{pot}} minus {{positionCosts}} for each person ahead of your position in the line.  
    </p> 
    <p> 
    The line consists of two groups, A and B.  Joining group B puts you behind everyone who joined B before you and behind everyone who will chose to join group A.  Joining group A puts you ahead of everyone in group B, and behind those who have joined group A before you.  However, joining group A will cost 50 cents from your {{endowment}} account, while joining group B costs nothing. Below you can see the current membership in each group.
    </p>
    <p>
    Based on your position in this experiment, joining group A will result in a minimum of {{earningsAMin}} and a maximum of {{earningsAMax}}, while joining group B will result in a minimum of {{earningsBMin}} and a maximum of {{earningsBMax}}. 
    </p>
    {{> proceedButton id="exitInstructions"}}
</template>
