<template name="quiz">
    These are the instructions.
    <br/>
    <!--{{instructionOptions}}-->
    <div>
        <p>
        <b>Make your selection here.  Are you going to press {{question}}?</b>
        </p>
    </div>
    {{> binaryForcedChoice texta="Queue A" textb="Queue B"}}
    <br/>
    {{> proceedButton id="exitQuiz"}}
    {{#if testQuizWrong }}
        {{> quizWrong}}
    {{/if}}
</template>

<template name="quizWrong">
    <div class="alert alert-danger">You failed the quiz. {{quizTriesLeft}} tries remaining</div>
</template>
