
<template name="survey">

    <!--{{instructionOptions}}-->
    <section class="expPaneMargin">
        {{#unless subStat.isExperienced }}
            <p>
                <strong><strong>Before submission, we have a few brief questions about you.</strong></strong>  You are being paid an additional {{earnings design.surveyReward}} for completing all of the questions in this survey, though there is no penalty for answering that you decline to state (you can do so in any questions by either selecting 'Decline to state' or entering 'xxxxxx').
            </p>
        {{else}}
            <p>
                Because you have played this game before, we will spare you having to recomplete the survey, though you will not earn the additional {{earnings design.surveyReward}} bonus.
            </p>
        {{/unless}}
    </section>

    {{> answersForm ..}}
    <br/>
</template>

	<template name = "submitHIT">
    <section class="expPaneMargin">
    <br/>
    <br/>
    {{#unless testQuizPassed }}
        <div class="alert alert-info">You failed the test.  You may not participate in the experiment, but you may submit the HIT.</div>
    {{/unless}}
    <p>IF COMPLETED EXPERIMENT: As we informed you in the instructions.  Your earnings cannot be calculated and distributed immediately.  This link will allow you to check up on them: http://XXX. Copy it before you submit. Seth, you should generate it when you init subjects. It will also show you how they were calculated in response to your choices.XXX</p>
    <br/>
            <form class="answersForm" id="{{currentSection.id}}" >
                <!--<p>You chose {{userSelection}}</p>
                    <p></p><br>-->
                    <div class="">
                        <label>
                            Do you have any feedback for us? <br/>
                            Did you encounter any confusion, bugs, or ambiguities in the instructions?
                        </label>
                        <br/>
                        <textarea name="feedback" rows="3"></textarea>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success generalNavButton" autofocus >Submit the HIT</button>
            </form>
    </section>
	</template>
