
<template name="survey">

    <!--{{instructionOptions}}-->
    <section class="expPaneMargin">
        <p><strong><strong>Before submission, we have a few brief questions about you.</strong></strong>  You are being paid an additional 50&cent; for completing this survey, though there is no penalty for declining to state (you can do so by either selecting 'Decline to state' or entering 'xxxxxx').</p>
    </section>
    {{> answersForm ..}}
    <br/>
</template>

	<template name = "submitHIT">
    <section class="expPaneMargin">
    <br/>
    <br/>
    {{#unless testQuizPassed }}
        <div class="alert alert-info">You failed the test.  You may not participate in the experiment, but you may submit the HIT.</div>
    {{/unless}}
    <br/>
            <form class="answersForm" id="{{currentSection.id}}" >
                <!--<p>You chose {{userSelection}}</p>
                    <p></p><br>-->
                    <div class="">
                        <label>
                            Do you have any feedback for us? <br/>
                            Did you encounter any confusion, bugs, or ambiguities in the instructions?
                        </label>
                        <br/>
                        <textarea name="feedback" rows="3"></textarea>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-success generalNavButton" autofocus >Submit the HIT</button>
            </form>
    </section>
	</template>
