<template name="tutorial_step1">
    <h3>Welcome</h3>
    <ul class='dash'>
        <li>
            <strong><strong>You are one of the first to attempt this experiment.</strong></strong>  We will be very grateful, and will offer extra bonuses, if you take careful notes and share them when you are done, either to the email listed below or on the submission form.  We are most interested in any aspects of the instructions and experiment that are unclear, confusing, or difficult. Thank you.
        </li>
    </ul>
    {{> tutorialBullets 1}}
</template>

<template name="tutorial_step2">
    <h3>Instructions</h3>
    <ul class='dash'>
        <li>
            <b>Welcome.</b> 
        </li>
        <li>
            After reviewing these instructions you will take a comprehension quiz. You must pass it in order to participate in the main experiment.
        </li>
        <li>
            <b>If you fail the quiz</b> you will earn only <span class="earnings">{{earnings design.HITEarnings}}</span> and no bonuses, and you will not be able to repeat the HIT.
        </li>
        <li>
            <b>The theoretical maximum bonus</b> from this experiment is <span class="earnings">{{earnings design.maxEarnings}}</span>. The minimum possible bonus from the core experiment is <span class="earnings">{{earnings 0}}</span>, not including a guaranteed <span class="earnings">{{earnings design.quizEarnings}}</span> in bonuses for passing the quiz, and <span class="earnings">{{earnings design.surveyEarnings}}</span> for completing the survey.
            <ul>
                <li>After completion, it should take a few hours to calculate your bonus. Contact us if it takes more than 24 hours.</li>
            </ul>
        </li>
    </ul>
        {{> tutorialBullets 1}}
</template>

<template name="tutorial_step3">
    <h3>Interface</h3>
    <ul class='dash'>
        <li>
            <b>This window</b> will show your progress.
        </li>
        <li>
            <b>After completing the main sections</b> of the experiment, 
            <em>Section 1</em> and <em>Section 2</em>, 
            you will reach the <em>Survey</em> and then review your bonus 
            earnings before submitting.
        </li>
        <li>
            <b>To return to these instructions</b> at any time during the experiment, you can select <em>Instructions</em> from this navigation bar.
        </li>
    </ul>
    {{> tutorialBullets 1}}
</template>

<template name="tutorial_step4">
    <h3>Interface</h3>
    <ul class='dash'>
        <li>
            <b>Basic information about you</b>, like your ID and current bonus, is available here.  
        </li>
        <li>
            <em>Please include your ID in any correspondence with us.</em>
        </li>
    </ul>
        {{> tutorialBullets 1}}
</template>

<template name="tutorial_step5">
    <h3>Experiment</h3>
    <ul class='dash'>
        <li>
            <b>In the main window,</b> you will play a series of strategic games in which you are matched with another player, who will also be a Turker.            
        </li>
        <li>
            <b>Your bonuses</b> from this experiment will depend on both your choices and those of the other player.         
        </li>
        <li>
            <b>The other player is receiving these same instructions.</b> 
            <ul><li>
            You can assume that the other player is about as motivated as you to <b>maximize the number of points</b> they earn toward their bonuses. 
            </li></ul>
        </li>
        <li>
            During each game, we will also ask for your predicted and preferred final outcomes.
        </li>
    </ul>
        {{> tutorialBullets 1}}
</template>

<template name="tutorial_step6">
    <h3>Game Interface</h3>
    <ul class="dash">
        <li>
            <b>This is the basic game interface.</b>  
        </li>
        <li>
            Even though a game has four possible outcomes, <em>your choice will always be between only two options</em>.
        </li>
    </ul>
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step7">
    <h3>Game Interface</h3>
    <span class="you">Your</span> decision will always be between <span class="you"><strong>Top</strong></span> &hellip;
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step8">
<br/>
<br/>
<br/>
&hellip; and <span class="you"><strong>Bottom</strong></span>. 
<br/>
<br/>
<em>Hover over each of your two options for a description of how they will influence the final outcome.</em>
<br/>
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step9">
    <h3>Game Interface</h3>
    Like you, the <span class="other">other player</span> also has two choices: <span class="other"><strong>Left</strong></span> &hellip; 
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step10">
<br/>
<br/>
<br/>
&hellip; and <span class="other"><strong>Right</strong></span>.
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step11">
    <h3>Game Interface</h3>
    <ul class="dash">
        <li>
            <b>You and the other player will make your choices simultaneously and blindly;</b> neither player will have a chance to see the other's choice before choosing. 
        </li>
        <li>
            <b>The game's final outcome,</b> of the four, will be the one at the intersection of <span class="you">your</span> choice and the <span class="other">other player's</span>.
        </li>
        <li>
            <b>Your points, and bonuses</b> will be calculated from the outcome that <span class="you">you</span> and the <span class="other">other player</span> converged on.
        </li>
    </ul>
{{> tutorialBullets 2}}
</template>

<template name="tutorial_step12">
    <h3>Game Interface</h3>
    <ul class='dash'>
    <li>
        <b>This is the outcome that would result</b> if <span class="you">you</span> chose <span class="you"><strong>Bottom</strong></span> and the <span class="other">other player</span> chose <span class="other"><strong>Right</strong></span>. In this outcome you would each earn <span class="earnings">1</span> point.
        </li>
        <li>
            <b>Each point is worth <span class="earnings">{{earnings design.pointEarnings}}</span> in bonuses.</b>
            <ul class="dash">
                <li>
                    For example, if you or the other player receive the maximum payoff of <span class="earnings">3</span> points, we will add <span class="earnings">{{earnings 0.45}}</span> to your bonus, while receiving <span class="earnings">0</span> points is worth <span class="earnings">{{earnings 0}}</span>.
            </li>
            </ul>
        </li>
        <li>
            The <span class="you">blue triangle</span> in each outcome shows <span class="you">your</span> potential points. 
        </li>
        <li>
            The <span class="other">grey upper triangles</span> show the <span class="other">other player's</span> potential point earnings.
        </li>
    </ul>
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step13">
    <h3>Game Interface</h3>
    <ul class='dash'>
        <li>
            <b>In this outcome,</b> <span class="you">you</span> chose <span class="you"><strong>Bottom</strong></span> and the <span class="other">other player</span> chose <span class="other"><strong>Left</strong></span>, with the result that <span class="you">you</span> earned <span class="earnings">3</span> points and the <span class="other">other player</span> earned <span class="earnings">0</span>.  
        </li>
        <li>
            In the outcome opposite to this one, resulting from choices of <span class="you"><strong>Top</strong></span> and <span class="other"><strong>Right</strong></span> (in the upper right), the <span class="other">other player</span> earns <span class="earnings">3</span> points and <span class="you">you</span> are the player that earns <span class="earnings">0</span>.
        </li>
    </ul>
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step14">
    <h3>Earnings</h3>
    <ul class='dash'>
        <li>
            <b>Your bonus for this HIT</b> will be calculated from the points you earn from each game you play. 
        </li>
        <li>
            <b><em>You should always think about what the other player might choose while making your own choice. </em></b>
        </li>
    </ul>
{{> tutorialBullets 2}}
</template>

<template name="tutorial_step15">
    <h3>Experiment Structure</h3>
<ul class="dash">
<li>
    <b>You will play multiple games</b> during the rounds and sections of the main experiment. 
</li>
<li>
    <b>The experiment is divided into two sections</b> of five rounds each. 
</li>
<li>
    <b>You will start each section</b> by playing two similar games. 
</li>
<li>
    <b>You will then be asked which of the two you would prefer to play again,</b> before playing one of them a second time.
<ul>
<li>
    The game you repeat is not guaranteed to be your chosen game, but it is most likely to be.
</li>
</ul>
</li>
<li>
    <b>The sections have only one difference from each other:</b> in one of them you will get feedback about the final outcomes of the first two games before choosing between them, while in the other you will only see what your own choices were.
</li>
<br/>
<li>
    After completing the experiment's main sections, you will complete the <em>Survey</em> for an additional
<span class="earnings">{{earnings design.surveyEarnings}}</span> before submitting this HIT.
</li>
</ul>
        {{> tutorialBullets 2}}
</template>

<template name="tutorial_step16">
    <h3>Experiment Structure</h3>
    <ul class="dash">
        <li>
            Within each section you will stay matched to the same player. 
        </li>
        <li>
           You will be matched to a different player when you complete the first section.
        </li>
        <li>
            Once again, because the outcome depends both on your choice and the other player's, <em>you should always think about what the other player might choose while making your own choice.</em>
        </li>
    </ul>
        {{> tutorialBullets 2}}
</template>



<template name="tutorialBullets">
    <div class="introjs-bullets">
        <ul>
    {{#each bullet in bullets this}}
        <li>
            <!-- <a href="javascript:void(0);" class={{bullet}}>&nbsp;</a> -->
            <a href="#" class={{bullet}}>&nbsp;</a>
        </li>
    {{/each}}
        </ul>
    </div>
</template>
